

/*-Section Blocks-*/
.section-block {
	background-color: #F7F7F7;
	border-radius:4px;
	padding: 20px;
	margin-bottom:30px;
}
.section-block.summary {
    background-color: #99DEAB;
}
.section-block.summary h1 {
    color: #fff;
	display:block;
	text-align:center;
}
.section-block.transparent {
	background-color:transparent
}
.section-block.signup {
	background-color: #99DEAB;
}
.section-block h1 {
	margin-top:0;
}
.section-title {
	color: rgb(33, 33, 33);
	border-radius: 4px;
	display: table;
	padding: 10px 0px;
	font-size: 25px;
	font-weight:700;
}

.section-subtitle {
	color: rgb(33, 33, 33);
	border-radius: 4px;
	display: table;
	padding: 10px 0px;
	font-size: 20px;

}

/*-Main Content-*/
.main-content {
	padding:40px 0px;
}


/*-Tabs-*/
.nav-tabs {
	border:0;
}
.nav-tabs>li.active>a, .nav-tabs>li.active>a:focus, .nav-tabs>li.active>a:hover {
	color: #FFF;
	background-color: #99DEAB;
	border: 0;
	border-radius: 4px;
	font-weight:700;
}
.nav-tabs>li>a, .nav-tabs>li>a:hover {
	border:0;
	margin-right: 10px;
	color:#A7A7A7;
}
.tab-content .section-title {
	margin-bottom: 20px;
	border-bottom: 1px solid #E2E2E2;
	display: block;
}

/*-Updates-*/
.update-post {
	margin-bottom: 30px;
	padding: 10px;
	background-color: #FDFDFD;
	border-radius: 4px;
}
.update-post .update-title {
	margin: 10px 0px;
	font-weight: 700;
}
.update-post .update-date {
	margin: 0px 0px 15px 0px;
	display: block;
	color: #A7A7A7;
	font-size: 12px;
}



/*-Buttons-*/
.btn {
	border:0;
}
.btn.btn-launch {
	background-color: #99DEAB;
	color: #FFF;
	font-size: 17px;
	font-weight: 600;
	padding: 10px 25px;
}
.btn.btn-launch:hover, .btn.btn-launch:focus,.btn.btn-reward, .btn.btn-reward:hover, .btn.btn-reward :focus {
	background-color:#85AD90;
	box-shadow:none;
}
.btn.btn-reward {
	background-color: #99DEAB;
    color: #FFF;
    font-size: 14px;
    font-weight: 600;
    padding: 5px 15px;
}
.btn.btn-signup {
	background-color: #99DEAB;
	color: #fff;
	height: 40px;
	width: 43px;
	margin-left: 10px;
	border: 2px solid #fff;
	text-align: center;
}
.btn.btn-contact {
	background-color: #85AD90;
	color: #fff;
	font-weight:700;
}
.btn.btn-contact:hover, .btn.btn-contact:focus {
	background-color: #779A81;
}
.btn.btn-contact i.fa {
	margin-right:10px;
}
.btn.btn-follow {
	background-color: #81A8F1;
	color: #fff;
	margin-bottom:10px;
}
.btn.btn-download {
	background-color: #85AD90;
	color: #fff;
}

/*-Credits-*/
.credit-block {
	padding: 20px;
	background-color: #FFF;
	border-radius: 4px;
	margin-bottom: 10px;
}
.credit-block.sources a{
	margin: 10px 0px;
	display: block;
}
.credit-block.license a.lined{
	text-decoration:underline;
}
.credit-block i.fa {
	padding-right:10px;
}
